#*~

[Bb]in/
[Oo]bj/
artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/

# Cake - Uncomment if you are using it
tools/**
#!tools/packages.config